<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
      <h1>Linhas de pesquisa</h1>
      
      <table class="table table-responsive table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
        <% @conta = 1 %>
          <% @linhas.each do |linha| %>
            <tr>
              <td><%= linha.texto %></td>
      		<% if(@conta==1) %>
              <td><%= link_to 'Disciplinas', disciplinas_path %></td>
      		<% end %>
      		<% if @conta==2 %>
              <td><%= link_to 'Disciplinas', disciplinas2s_path %></td>
      		<% end %>
      		<% if @conta==3 %>
              <td><%= link_to 'Disciplinas', disciplinas3s_path %></td>
      		<% end %>
      		<% @conta = @conta+1 %>
      		<% if logged_in? %>
              <td><%= link_to 'Edit', edit_linha_path(linha) %></td>
              <td><%= link_to 'Destroy', linha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      		<% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <% if logged_in? %>
      <%= link_to 'New Linha', new_linha_path %>
      <% end %>
    </div>
</div>  