<% @aux=get_idioma() %>
<% @idioma=@aux.idioma %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">

      <% if @idioma==1 %>
        <h1> Line Of Researchs</h1>
        <% else if @idioma==2 %>
          <h1>Espanhol - Linhas de pesquisa</h1>
          <% else %>
              <h1>Linhas de pesquisa</h1>
          <% end %>
      <% end %>
    
      <table class="table table-responsive table-bordered table-hover">
        <tbody>
        <% @conta = 1 %>
          <% @linhas.each do |linha| %>
            <tr>
          <% if logged_in? %>
              <td><%= linha.idioma %></td>
              <td><%= linha.texto %><%= @conta %></td>            
      		<% if(@conta==1) %>
              <% if linha.idioma==1 %>
                <td><%= link_to 'Subjects', ingles_disciplinas_url %></td>
              <% else if linha.idioma==2 %>
                <td><%= link_to 'Espanhol Disciplinas', espanhol_disciplinas_url %></td>
              <% else %>                
                <td><%= link_to 'Disciplinas', disciplinas_url %></td>
              <% end %>
              <% end %>
          <% end %>
      		<% if @conta==2 %>
              <% if linha.idioma==1 %>
                <td><%= link_to 'Subjects', ingles_disciplinas2s_url %></td>
              <% else if linha.idioma==2 %>
                <td><%= link_to 'Espanhol Disciplinas', espanhol_disciplinas2s_url %></td>
              <% else %>
              <td><%= link_to 'Disciplinas', disciplinas2s_url %></td>
                <% end %>
                <%end %>
      		<% end %>
      		<% if @conta==3 %>
              <% if linha.idioma==1 %>
                <td><%= link_to 'Subjects', ingles_disciplinas3s_url %></td>
                <% else if linha.idioma==2 %>
                <td><%= link_to 'Espanhol - Disciplinas', espanhol_disciplinas3s_url %></td>
              <% else %>
              <td><%= link_to 'Disciplinas', disciplinas3s_url %></td>
              <% end %>
              <% end %>
      		<% end %>
              <td><%= link_to 'Show', linha %></td>
              <td><%= link_to 'Edit', edit_linha_path(linha) %></td>
              <td><%= link_to 'Destroy', linha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else if @idioma==linha.idioma %>
              <td><%= linha.texto %></td>
      		<% if(@conta==1) %>
              <% if linha.idioma==1 %>
                <td><%= link_to 'Subjects', ingles_disciplinas_url %></td>
              <% else if linha.idioma==2 %>
                <td><%= link_to 'Espanhol Disciplinas', espanhol_disciplinas_url %></td>
              <% else %>                
                <td><%= link_to 'Disciplinas', disciplinas_url %></td>
          		<% end %>
          		<% end %>
          <% end %>
      		<% if @conta==2 %>
              <% if linha.idioma==1 %>
                <td><%= link_to 'Subjects', ingles_disciplinas2s_url %></td>
              <% else if linha.idioma==2 %>
                <td><%= link_to 'Espanhol Disciplinas', espanhol_disciplinas2s_url %></td>
              <% else %>
              <td><%= link_to 'Disciplinas', disciplinas2s_url %></td>
                <% end %>
                <%end %>
      		<% end %>
      		<% if @conta==3 %>
              <% if linha.idioma==1 %>
                <td><%= link_to 'Subjects', ingles_disciplinas3s_url %></td>
                <% else if linha.idioma==2 %>
                <td><%= link_to 'Espanhol - Disciplinas', espanhol_disciplinas3s_url %></td>
              <% else %>
              <td><%= link_to 'Disciplinas', disciplinas3s_url %></td>
              <% end %>
            <% end %>
      		<% end %>
        	</tr>
          <% end %>

          <% end %>
      		<% if @conta<3 %>
      		  <% @conta=@conta+1 %>
      		<% else %>
      		  <% @conta=1 %>
      		<% end %>
          <% end %>
        </tbody>
      </table>
      
      <br>
      
      <% if logged_in? %>
      <%= link_to 'New Linha', new_linha_path %>
      <% end %>
    </div>
</div>  
