<%= form_for(@finai) do |f| %>
  <% if @finai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finai.errors.count, "error") %> prohibited this finai from being saved:</h2>

      <ul>
      <% @finai.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :idioma %><br>
    <%= f.number_field :idioma %>
  </div>
  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_field :texto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
