<% @aux=get_idioma() %>
<% @idioma=@aux.idioma %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
     <% if @idioma==1 %>
            <h1>Teacher Area</h1>
         <% else if @idioma==2 %>
            <h1>Espanhol - Docentes</h1>
         <% else %>
          <h1>Docentes</h1>
      <% end %>
      
<% end %>
<table class="table table-responsive table-bordered table-hover">
<% if logged_in? %>
<thead>
    <tr>
      <th>Linha</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% end %>
  <tbody>
    <% @docentes.each do |docente| %>
      <tr>
<% if logged_in? %>
        <td><%= docente.linha %></td>
        <td><a href=<%= docente.link %>><%= docente.nome %></td>
          <td><%= link_to 'Show', docente %></td>
          <td><%= link_to 'Edit', edit_docente_path(docente) %></td>
          <td><%= link_to 'Destroy', docente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% else %>
        <td><a href=<%= docente.link %>><%= docente.nome %></td>
<% end %>
      </tr>
<% end %>
  </tbody>
</table>

<br>

		<% if logged_in? %>
		  <%= link_to 'New Docente', new_docente_path %>
    <% end %>
    
  </div>
</div>

