<% @aux=Idioma.find(1) %>
<%= @idioma=@aux.aux %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
    <% if @idioma==1 %>
      <h1> Inglês Contatos</h1>
      <% else if @idioma==2 %>
      <h1> Espanhol Contatos</h1>
    <% else %>
      <h1> Contatos</h1>
      <% end %>
      <% end %>
    
      <table class="table table-responsive table-bordered table-hover">
        <thead>
          <tr>
            <th>Texto</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @contatos.each do |contato| %>
            <tr>
          		<% if logged_in? %>
              <td><%= contato.texto %><%= contato.id %></td>
                <td><%= link_to 'Show', contato %></td>
                <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
                <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
             <% else %>
                 <% if @idioma==1 %>
                   <td><% if contato.id==2 %><%= contato.texto %><% end %><% end %></td>
                 <% if @idioma==2 %>
                   <td><% if contato.id==3 %><%= contato.texto %><% end %><% end %></td>
                 <% if @idioma==3 %>
                   <td><% if contato.id==1 %><%= contato.texto %><% end %><% end %></td>
             <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      		<% if logged_in? %>
            <%= link_to 'New Contato', new_contato_path %>
          <% end %>
    </div>
  </div>  