<% @aux=get_idioma() %>
<% @idioma=@aux.idioma %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
    <% if @idioma==1 %>
      <h1>Contacts</h1>
      <% else if @idioma==2 %>
      <h1> Espanhol Contatos</h1>
    <% else %>
      <h1> Contatos</h1>
      <% end %>
      <% end %>
    
      <table class="table table-responsive table-bordered table-hover">
        <tbody>
          <% @contatos.each do |contato| %>
            <tr>
          		<% if logged_in? %>
                <td><%= contato.texto %></td>
                <td><%= link_to 'Show', contato %></td>
                <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
             <% else %>
                 <% if @idioma==1 %>
                 <% if contato.id==4 %><td><%= contato.texto %><% end %><% end %></td>
                 <% if @idioma==2 %>
                  <% if contato.id==5 %><td><%= contato.texto %><% end %><% end %></td>
                 <% if @idioma==3 %>
                   <% if contato.id==1 %><td><%= contato.texto %><% end %><% end %></td>
             <% end %>
                       <% end %>
            </tr>

        </tbody>
      </table>
      
      <br>
    </div>
  </div>  