<%= form_for(@disciplinas3) do |f| %>
  <% if @disciplinas3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disciplinas3.errors.count, "error") %> prohibited this disciplinas3 from being saved:</h2>

      <ul>
      <% @disciplinas3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_field :texto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
