<% @aux=get_idioma() %>
<% @idioma=@aux.idioma %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
     <% if @idioma==1 %>
          <h1>Events</h1>
         <% else if @idioma==2 %>
            <h1>Espanhol -Eventos</h1>
         <% else %>
              <h1>Eventos</h1>
      <% end %>
      
<% end %>

        
        <table class="table table-responsive table-bordered table-hover">
          <thead>
            <tr>
  <% if logged_in? %>
     <% if @idioma==1 %>
              <th>Inglês=1/ Espanhol=2/ Port = 3/</th>
              <th>Link</th>
              <th>Text</th>
           <% else if @idioma==2 %>
              <th>Inglês=1/ Espanhol=2/ Port = 3/</th>
              <th>Espanhol - Link</th>
              <th>Espanhol - Texto</th>
           <% else %>
              <th>Inglês=1/ Espanhol=2/ Port = 3/</th>
              <th>Link</th>
              <th>Texto</th>
        <% end %>
      
      <% end %>
              <th colspan="3"></th>
              <% end %>
            </tr>
          </thead>
        
          <tbody>
            <% @eventos.each do |evento| %>
              <tr>
            	<% if logged_in? %>
                <td><%= evento.idioma %></td>
                <td><a href=<%= evento.link %>><%= evento.titulo %></td>
                <td><%= evento.texto %></td>
                  <td><%= link_to 'Show', evento %></td>
                  <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
                  <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else if evento.idioma==@idioma%>
                <td><a href=<%= evento.link %>><%= evento.titulo %></td>
                <td><%= evento.texto %></td>
                <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        
        		<% if logged_in? %>
              <%= link_to 'New Evento', new_evento_path %>
            <% end %>
    </div>
  </div>  
