<p id="notice"><%= notice %></p>

<p>
  <strong>Idioma:</strong>
  <%= @evento.idioma %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @evento.titulo %>
</p>

<p>
  <strong>Link:</strong>
  <%= @evento.link %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @evento.texto %>
</p>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
