<% @aux=get_idioma() %>
<% @idioma=@aux.idioma %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
          <% if @idioma==1%> 
          	 <h1>Egress</h1>
          <% else if @idioma==2%>
          	 <h1>Graduados</h1>
          <% else %>
          	 <h1>Egressos</h1> 
          <% end %>
          <% end %>

        
        <table class="table table-responsive table-bordered table-hover">
          <thead>
            <tr>
          <% if @idioma==1 %>
              <th>Year</th>
              <th>Level</th>
              <th>Name</th>
              <th>Lattes</th>
              <th>Advisor</th>
              <th>Defese</th>
          <% else if @idioma==2 %>
              <th>Espanhol Ano</th>
              <th>Espanhol Nivel</th>
              <th>Espanhol Nome</th>
              <th>Lattes</th>
              <th>Espanhol Orientador</th>
              <th>Espanhol Defesa</th>
          <% else %>
              <th>Ano</th>
              <th>Nivel</th>
              <th>Nome</th>
              <th>Lattes</th>
              <th>Orientador</th>
              <th>Defesa</th>
              <% end %>
              <% end %>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @egressos.each do |egresso| %>
              <tr>
                <td><%= egresso.ano %></td>
                <td><%= egresso.nivel %></td>
                <td><%= egresso.nome %></td>
                <td><a href=<%=egresso.lattes%>>Lattes</a>
                <td><%= egresso.orientador %></td>
                <td><%= egresso.defesa %></td>
        		<% if logged_in? %>
                <td><%= link_to 'Show', egresso %></td>
                <td><%= link_to 'Edit', edit_egresso_path(egresso) %></td>
                <td><%= link_to 'Destroy', egresso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        		<% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        
        <% if logged_in? %>
        <%= link_to 'New Egresso', new_egresso_path %>
        <% end %>
    </div>
</div>  