<%= form_for(@publica) do |f| %>
  <% if @publica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publica.errors.count, "error") %> prohibited this publica from being saved:</h2>

      <ul>
      <% @publica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_area :titulo %>
  </div>
  <div class="field">
    <%= f.label :texto %><br>
    <%= f.text_area :texto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
