<% @aux=get_idioma() %>
<% @idioma=@aux.idioma %>
<p id="notice"><%= notice %></p>
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        
     <% if @idioma==1 %>
            <h1>Publications</h1>
         <% else if @idioma==2 %>
            <h1>Espanhol - Publicações</h1>
         <% else %>
            <h1>Publicações</h1>
      <% end %>
      
<% end %>
        
        <table class="table table-responsive table-bordered table-hover">
          <tbody>
            <% @publicas.each do |publica| %>
              <tr>
                <td><a href=<%= publica.texto %>><%= publica.titulo %></td>
            		<% if logged_in? %>
                  <td><%= link_to 'Show', publica %></td>
                  <td><%= link_to 'Edit', edit_publica_path(publica) %></td>
                  <td><%= link_to 'Destroy', publica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <br>
        		<% if logged_in? %>
              <%= link_to 'New Publica', new_publica_path %>
            <% end %>
    </div>
</div>      
