<% @egressos=Egresso.all %>
<!-- portugues --> 
<div class="container-fluid cont-estatico">
    <div class="container-fluid ">
        <h1>Egressos</h1>
    </div>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <table>
                <thead>
                    <tr>
                        <th>Mestrado/Ano</th>
                    </tr>
                 </thead>
                 <tbody>
                    <% for i in 2010..2030 %>
                        <% @egressos.each do |egresso| %>
                            <% if((egresso.ano==i) && (egresso.nivel=='Mestrado')) %>
                                <tr>
                                    <td><a href="mest<%= egresso.ano %>"><%= egresso.ano %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                  </tbody>
            </table>
        </div>
            </div>
    <div class="container-fluid">
        <div class="col-md-6 col-md-offset-3">
            <table>
                <thead>
                    <tr>
                        <th>Doutorado/Ano</th>
                    </tr>
                 </thead>
                 <tbody>
                    <% for i in 2010..2030 %>
                        <% @egressos.each do |egresso| %>
                            <% if((egresso.ano==i) && (egresso.nivel=='Doutorado')) %>
                                <tr>
                                    <td><a href="dout<%= egresso.ano %>"><%= egresso.ano %></td>
                                    <% break %>
                                </tr>
                            <% end %>
                        <% end %>
                    <% end %>
                  </tbody>
            </table>
        </div>
    </div>
</div>

<% if logged_in? %>
<%= link_to 'New Egresso', new_egresso_path %>
<% end %>