<% if flash[:notice] %>
    <div class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>

<main id="portugues">
  <div class="container-fluid img-home">
    <div class="transparente">
        <div class="painelLogo">
          <%=image_tag("logo_posling.png", alt: "LogoPosling", class:"logoHome")%>
        </div>
    </div>
  </div>
  <div class="container-fluid apresentacao">
    <h3>
      "A linguagem do entusiasmo, das coisas feitas com amor e com vontade, em busca de algo que se desejava ou em que se acreditava."
    </h3>
  </div>
  
  <div class="container bem-vindo">
    <div class="separador">
    </div>
    <%= image_tag("bemvindo.png", alt:"LogoPoslingBalao", class:"logoBalao")%>
  </div>
    
  <div class="row finalHome">
    <div class="col-md-5 col-md-offset-1 txtHome">
      <h5>Instituto de Letras da UFF – Rua Professor Marcos Waldemar de Freitas Reis, s/n°. Campus do Gragoatá, Bloco C, sala 518. CEP: 24210-201, em Niterói, estado do Rio de Janeiro.</h5>
      <h5> 
<strong>E-mail:</strong> pgletras@vm.uff.br<br><br>
<strong>Telefone(s):</strong> (21) 2629-2607/ (21) 2629-2608</h5>
    </div>
    <div class="col-md-2 col-md-offset-4">
       <%= image_tag("uff.png", alt:"LogoUFF", class:"logouff")%>
       <%= image_tag("facebook_logo.png", alt:"LogoFacebook", class:"logoFb")%>
    </div>
  </div>  




<!--
<h1>PaginasEstaticas#home</h1>
<p>Find me in app/views/paginas_estaticas/home.html.erb</p>
<a href = 'home'>Home</a><br>
<a href = 'calendarioematricula'>Calendário e Matrícula</a><br>
<a href = 'egress'>Egressos</a><br>
<a href = 'manualdoaluno'>Manual do aluno<br></a>
<a href = 'finais'>Trabalhos Finais<br></a>
<a href = 'quemsomos'>Quem somos<br></a>
<a href = 'grupos'>Grupos de Pesquisa<br></a>
<a href = 'linhas'>Linhas de Pesquisa<br></a>
<a href = 'regimentos'>Regimentos<br></a>
<a href = 'editais'>Editais</a><br>
<a href = 'estruturacurricular'>Estrutura Curricular</a><br>
<a href = 'legislacao'>Legislação</a><br>
<a href = 'colaboradores'>Colaboradores</a><br>
<a href = 'financas'>Finanças</a><br>
<a href = 'formularios'>Formulários</a><br>
<a href = 'quadrodehorarios'>Quadro de horários<br></a>



<header class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
		              <li><%= link_to "Trocar a senha", edit_user_path(current_user) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Ferramentas de edição <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

              <li><%= link_to "id e mail do Administrador", current_user %></li>
			  <li><%= link_to "Colaboradores", colaboradores_path %></li>
			  <li><%= link_to "Egressos", egress_path %></li>
			  <li><%= link_to "Finanças", financas_path %></li>
			  <li><%= link_to "Grupos de Pesquisa", grupos_path %></li>
			  <li><%= link_to "Linhas de Pesquisa", linhas_path %></li>
			  <li><%= link_to "Trabalhos Finais", finais_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
		  <li><%= link_to "Esqueci a senha", new_password_reset_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
-->